DISCORD_TOKEN=MTUzODg2MDQwNDM5NzE4MzA4Nw.GMIywM.BV3xPehpcrYOak_8LVWSWpuStFipMmxag6RNXs
DISCORD_CLIENT_ID=1538860404397183087
DISCORD_CLIENT_SECRET=ateCDU0hHPLfiEwsLxgJrmRT44R647gV
DASHBOARD_URL=https:https://threezazel-bot-test.onrender.com/login
SESSION_SECRET=Azazel_Zero_2026_X7p9K2mL
AI_BASE_URL=https://api.openai.com/v1
AI_MODEL=gpt-4o-mini
